.u-mts { /* Margin-Top: Small; */
    margin-top: 10px;
}
.u-mrs { /* Margin-Right: Small; */
    margin-right: 10px;
}
.u-mbs { /* Margin-Bottom: Small; */
    margin-bottom: 10px;
}
.u-mls { /* Margin-Left: Small; */
    margin-left: 10px;
}

.u-mtm { /* Margin-Top: Middle; */
    margin-top: 30px;
}
.u-mrm { /* Margin-Right: Middle; */
    margin-right: 30px;
}
.u-mbm { /* Margin-Bottom: Middle; */
    margin-bottom: 30px;
}
.u-mlm { /* Margin-Left: Middle; */
    margin-left: 30px;
}

.u-mtbs {
    margin-top: 10px;
    margin-bottom: 10px;
}

.u-mtbm {
    margin-top: 20px;
    margin-bottom: 20px;
}