.blog {
    .wrap {
        flex-direction: column;
    }
    &__contents {
        margin-top: 30px;
        padding: 0 90px;
        display: flex;
        flex-direction: column;
        .post-display {
            height: 35vh;
        }
        &--outer {
            padding: 10px 0;
        }
        &--outer ~ &--outer {
            border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        }
    }
}

@media (max-width: 48em) {
    .blog {
        &__contents {
            padding: 0;
        }
    }
}