<head>
    <!------------------------ BASIC INFO ------------------------>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.png" rel="icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">


    <!------------------------ TITLE ------------------------>
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>Sei Tech Site</title>
    {% endif %}

    <!------------------------ DESCRIPTION ------------------------>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}

    <!------------------------ GOGGLE ------------------------>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178433295-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-178433295-1');
    </script>



    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!------------------------ Font Awesome ------------------------>
    <script src="https://kit.fontawesome.com/2e3bf074ad.js" crossorigin="anonymous"></script>

    <!------------------------ CSS ------------------------>
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ page.author }}">
    <meta name="twitter:title"   content="{{ page.title }}">

    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    {% if page.heroImage %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.heroImage }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->
</head>