.header {
    background-color: $bc-theme;
    &__logo {
        padding: 10px;
    }
    .wrap {
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 48em) {
    .header {
        &__nav {
            display: none;
        }
    }
}